@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    background-color: rgb(255, 246, 235) !important;
}

h1, .kind, label {
    color:#3b2f1a !important
}

/* Header */
#top{
    background-color: #463920;
    height: 44px;
    width:100%;
}
#title{
    color:white; 
    font-family: 'Montserrat', sans-serif; 
    margin-left:150px; 
    font-size:30px; 
    margin-bottom: 0px;
}

h1{
    margin-top: 60px !important;
    margin-bottom: 35px !important;
    font-family: 'Merriweather', serif;
}

#content{
    text-align: center;
}

/* Form */
.kind, label{
    font-family: Helvetica, Arial, sans-serif;
}
label{
    margin-bottom: 0px !important;
}
#form{
    padding:5px;
}
#inputGroup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputDiv{
    margin-bottom: 1em
}
.inputDiv > input {
    display:block; 
    margin: 0 auto;
}

#inputDiv_discountPrice,{
    margin-bottom:0 !important;
}
#remindMessage{
    font-size: xx-small;
    margin-bottom: 5px;
}


